.card p{
    user-select: none;
}

ul {
    list-style: none;
}

h1, h2, h3 {
    font-weight: bold;
}

nav {
    position: absolute !important;
    top: 0;
    width: 100%;
    background-color: rgb(240, 240, 240);
}

.jumbotron {
    position: absolute;
    padding-top: 1rem;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 1rem;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 60%;
    background-color: rgb(240, 240, 240);
  }